* {
    margin: 0;
    padding: 0;
}
body {
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
}

nav div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
    a {
        color:white;
        text-decoration: none;
    }
    a:hover {
        color: cyan;
        text-decoration: underline;
    }
}
main {
    text-align: center;
    p {
        margin-bottom: 30px;
    }
    margin-top: 30px;
    margin-bottom: 20px;
}
footer {
    display: flex;
    background-color: black;
    border-color: black;
    padding: 15px;
    a {
        color:white;
        padding: 0 151px;
        text-decoration: none;
    }
    a:hover {
        color: cyan;
        text-decoration: underline;
    }
}
#contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 12px;
}
.ASUS-Rog {
    grid-area: 1 / 1 / 2 / 2;
    border: 1px transparent;
    border-radius: 10px;
    text-align: center;
    background-color: blue;
    color: white;
    img {
        height: 110px;
        border-radius: 10px;
    }
}
.ASUS-Tuf {
    grid-area: 1 / 2 / 2 / 3;
    border: 1px transparent;
    border-radius: 10px;
    text-align: center;
    background-color: blue;
    color: white;
    img {
        height: 110px;
        border-radius: 10px;
    }
}
.Gigabyte {
    grid-area: 1 / 3 / 2 / 4;
    border: 1px transparent;
    border-radius: 10px;
    text-align: center;
    background-color: blue;
    color: white;
    img {
        height: 110px;
        border-radius: 10px;
    }
}
.MSI {
    grid-area: 1 / 4 / 2 / 5;
    border: 1px transparent;
    border-radius: 10px;
    text-align: center;
    background-color: blue;
    color: white;
    img {
        height: 110px;
        border-radius: 10px;
    }
}
.CoreI3 {
    grid-area: 2 / 1 / 3 / 2;
    border: 1px transparent;
    border-radius: 10px;
    text-align: center;
    background-color: blue;
    color: white;
    img {
        height: 110px;
        border-radius: 10px;
    }
}
.CoreI5 {
    grid-area: 2 / 2 / 3 / 3;
    border: 1px transparent;
    border-radius: 10px;
    text-align: center;
    background-color: blue;
    color: white;
    img {
        height: 110px;
        border-radius: 10px;
    }
}
.Ryzen5 {
    grid-area: 2 / 3 / 3 / 4;
    border: 1px transparent;
    border-radius: 10px;
    text-align: center;
    background-color: blue;
    color: white;
    img {
        height: 110px;
        border-radius: 10px;
    }
}
.Ryzen7 {
    grid-area: 2 / 4 / 3 / 5;
    border: 1px transparent;
    border-radius: 10px;
    text-align: center;
    background-color: blue;
    color: white;
    img {
        height: 110px;
        border-radius: 10px;
    }
}
.NvidiaMSI {
    grid-area: 3 / 1 / 4 / 2;
    border: 1px transparent;
    border-radius: 10px;
    text-align: center;
    background-color: blue;
    color: white;
    img {
        height: 110px;
        border-radius: 10px;
    }
}
.AMDASrock {
    grid-area: 3 / 2 / 4 / 3;
    border: 1px transparent;
    border-radius: 10px;
    text-align: center;
    background-color: blue;
    color: white;
    img {
        height: 110px;
        border-radius: 10px;
    }   
}
.Geforce {
    grid-area: 3 / 3 / 4 / 4;
    border: 1px transparent;
    border-radius: 10px;
    text-align: center;
    background-color: blue;
    color: white;
    img {
        height: 110px;
        border-radius: 10px;
    }
}
.GTX {
    grid-area: 3 / 4 / 4 / 5;
    border: 1px transparent;
    border-radius: 10px;
    text-align: center;
    background-color: blue;
    color: white;
    img {
        height: 110px;
        border-radius: 10px;
    }
}